.storybook-button {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1.5px solid #F65261;
    color: #F65261;
    transition: background-color 0.25s;

    &:hover {
        background: #F65261;
        color: white;
    }
}

.storybook-button--primary {
    background: #F65261;
    color: white;
    border: 1.5px solid transparent;

    &:hover {
        background: #dd3443;
    }
}

.storybook-button--secondary {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    background-color: transparent;
}

.storybook-button--small {
    padding: 10px 16px;
    font-size: 12px;
}

.storybook-button--medium {
    padding: 11px 20px;
    font-size: 14px;
}

.storybook-button--large {
    padding: 12px 24px;
    font-size: 16px;
}
