.contextMenu {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 18px;
    font-weight: bold;
    background: #232323;
    color: white;
}

.context-menu-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 50px 30px;
    background: #232323;
    color: white;
    width: 250px;
    justify-content: space-around;
    border-radius: 5px;
}

.context-menu-popup.open {
    display: flex;
    z-index: 10;
}
