.movie-details {
    display: flex;
    position: relative;

    img {
        width: 323px;
    }
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.movie-details-content {
    font-family: Monserrat, sans-serif;
    padding-left: 20px;
}

.movie-details-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    h3 {
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
        color: white;
    }

    .score {
        margin-left: 30px;
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
        border: 1px solid white;
        box-sizing: border-box;
        padding: 10px 0 0 2px;
        color: white;
    }
}

.movie-details-relevant {
    font-size: 14px;
    color: rgba(250, 250, 250, 0.6);

    span {
        display: inline-block;

        &:after {
            content: '&';
            margin: 0 5px;
        }

        &:last-child {
            &:after {
                content: '';
                margin: 0;
            }
        }
    }
}

.movie-details-footer {
    display: flex;
    color: #F65261;
    font-size: 24px;
    margin: 25px 0;

    .year {
        margin-right: 20px;
    }
}

.movie-details-description {
    font-size: 20px;
    font-weight: 300;
    color: rgba(250, 250, 250, 0.6);
}
